<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <title>Bloom Profile</title>
</head>

<body>
    <div class="collapse bg-dark" id="navbar">
        <!-- welcome message -->
        <div class="bg-dark p-4">
            <span class="text-muted">Be Fearlessly Authentic.</span>
        </div>

        <div class="row">
            <!-- button for bloomboard -->
            <div class="col">
                <button type="button" class="btn btn-warning m-3">
                    <a href="/bloomboard">
                        <span title="Bloomboard" class="material-icons" style="color: black">dashboard</span>
                    </a>
                </button>
            </div>

            <!-- button for profile -->
            <div class="col">
                <button type="button" class="btn btn-warning m-3">
                    <a href="/profile/{{request.session.user_id}}">
                        <span title="Profile" class="material-icons" style="color: black">assignment_ind</span>
                    </a>
                </button>
            </div>

            <!-- button for checklist -->
            <div class="col">
                <button type="button" class="btn btn-warning m-3">
                    <a href="/checklist">
                        <span title="Intentions & Goals" class="material-icons" style="color: black">view_list</span>
                    </a>
                </button>
            </div>

            <!-- navbar button  create quote -->
            <div class="col">
                <!-- trigger button for modal -->
                <button type="button" class="btn btn-warning m-3" data-toggle="modal" data-target="#exampleModal2">
                    <span title="Create a Quote" class="material-icons">format_quote</span>
                </button>

                <!-- modal -->
                <div class="modal fade  bd-example-modal-lg" id="exampleModal2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Quotes help us understand, inspire, motivate, & clarify.
                                </h5>
                            </div>
                            <div class="modal-body m-2 mx-auto">
                                <form action="/create_quote" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <label for="quote">A Quote that caught your eye-</label>
                                        <textarea name="quote" class="m-1" cols="50" rows="7"></textarea>
                                    </div>
                                    <div class="row">
                                        <label for="author">Quote is by-</label>
                                        <input type="text" class="form-control m-2" name="author" />
                                    </div>
                                    <div class="row">
                                        <input type="submit" value="Save" class="btn btn-dark" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- navbar button create journal entry -->
            <div class="col">
                <!-- trigger button for modal -->
                <button title="Create a Journal Entry" type="button" class="btn btn-warning m-3" data-toggle="modal"
                    data-target="#exampleModal">
                    <span class="material-icons">post_add</span>
                </button>

                <!-- modal -->
                <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Penny For a Thought
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form action="/journal_entry" method="POST">
                                    {% csrf_token %}
                                    <div class="row m-2">
                                        <textarea name="entry" cols="30" rows="7"
                                            placeholder="What's on your mind?"></textarea>
                                    </div>
                                    <div class="row">
                                        <input type="submit" value="Save" class="btn btn-dark" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- navbar button add Intention -->
            <div class="col">
                <!-- trigger button for modal -->
                <button title="Add an Intention" type="button" class="btn btn-warning m-3" data-toggle="modal"
                    data-target="#exampleModal4">
                    <span class="material-icons">self_improvement</span>
                </button>

                <!-- modal -->
                <div class="modal fade bd-example-modal-lg" id="exampleModal4" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add an Intention
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form action="/add_intention" method="post">
                                    {% csrf_token %}
                                    <div class="row m-2">
                                        <textarea name="intention" type="text" cols="30" rows="7"
                                            placeholder="What's something you want to be clear up front about achieving?"></textarea>
                                    </div>
                                    <div class="row">
                                        <input type="submit" value="Save" class="btn btn-dark" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- navbar button add goal -->
            <div class="col">
                <!-- trigger button for modal -->
                <button type="button" class="btn btn-warning m-3" data-toggle="modal" data-target="#exampleModal6">
                    <span title="Add a Goal" class="material-icons">track_changes</span>
                </button>

                <!-- modal -->
                <div class="modal fade bd-example-modal-lg" id="exampleModal6" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Set a Goal
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form action="/add_goal" method="POST">
                                    {% csrf_token %}
                                    <div class="row m-2">
                                        <textarea name="goal" cols="30" rows="7"
                                            placeholder="What's a promise you are making to your future self?"></textarea>
                                    </div>
                                    <div class="row">
                                        <input type="submit" value="Save" class="btn btn-dark" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- navbar button logout  -->
            <div class="col">
                <button type="button" class="btn btn-warning m-3">
                    <a href="/logout">
                        <span title="Logout" class="material-icons" style="color: black">logout</span>
                    </a>
                </button>
            </div>
        </div>
    </div>

    <!-- quote in navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <figure class="text-center mx-auto">
                <blockquote class="blockquote text-warning">
                    <p>{{user.personal_quote}}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{user.first_name}} {{current_user.last_name}}
                </figcaption>
            </figure>
        </div>
    </nav>
    <!-- end of navbar -->

    <!-- Personal Goal Display -->
    <header class="m-3">
        <div class="card text-center mx-auto" style="width: 800px; border-color: white;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    Daily Reminder you're taking steps to-
                </h6>
                <p class="card-text" style="font-size: 25px">
                    {{user.reasons}}
                </p>
            </div>
        </div>
    </header>
    <!-- end of display -->

    <!-- container holding profile content -->
    <div class="container-fluid">
        <div class="row p-1 mx-auto ">
            <!-- column for user info, add buttons, regulators -->
            <div class="col-2 m-1 text-center">

                <!-- basic user info -->
                <form action="/edit_profile/{{user.id}}" method="post">
                    {% csrf_token %}
                    <input type="text" name="updated_username" class="h3" style="width:100%;" value="{{user.username}}">
                    <input type="submit" class="btn btn-warning m-3" value="Change Username">

                </form>
                <!-- <button type="button" class="btn btn-warning m-3">
                    <a href="/add_regulator">
                        <span title="Add as a Regulator" class="material-icons" style="color: black">group</span>
                    </a>
                </button> -->

                <!-- <button type="button" class="btn btn-warning m-3">
                        <a href="/add_friend">
                            <span title="Add Friend" class="material-icons" style="color: black">person_add</span>
                        </a>
                    </button> -->






                <!-- <div class="col my-5">
                    <h6>Rules</h6>
                    <ul class="list-group">
                        {% for rule in rules %}
                        <li class="list-group-item">(rule.rule)</li>
                        {% endfor %}
                    </ul>
                </div> -->

                <!-- user regulators -->
                <!-- <div class="col my-5">
                    <h6>Regulators</h6>
                    <ul class="list-group">
                        {% for regulator in regulators %}
                        <li class="list-group-item">(user.regulators)</li>
                        {% endfor %}
                    </ul>
                </div> -->

                <!-- user friends -->
                <!-- <div class="col my-5">
                    <h6>Friends</h6>
                    <div>
                        <span class="badge bg-warning text-dark">Friends (friend.count)</span>
                    </div> -->
                <!-- <ul class="list-group">
                        (for friend in friends)
                        <li class="list-group-item">(user.friends)</li>
                        (endfor)
                    </ul> -->
            </div>

            <!-- column for quotes -->
            <div class="col  m-2">
                <h4 class="text-center">Quotes</h4>
                {% for quote in quotes %}
                <form action="/edit_quote/{{quote.id}}" method='post'>
                    {% csrf_token %}

                    <div class="card m-3">
                        <div class="card-header">
                            {{quote.updated_at}}
                        </div>
                        <div class="card-body">
                            <blockquote>
                                <p>
                                    <textarea name="updated_quote" style="width:100%;" rows="5" class="blockquote m-2 mx-auto p-1">{{quote.the_quote}}</textarea>
                             
                                </p>
                                <footer>
                                    <p class="text-center"><input type="text" class="blockquote-footer p-1 m-1" style="width: 80%;" name="updated_quote_author" value="{{quote.quote_author}}"></p>

                                </footer>
                            </blockquote>

                            <div class="text-center">
                                <button class="btn btn-warning m-1 ">
                                    <a href="/delete-quote/{{quote.id}}">
                                        <span class="material-icons" style="color: black;">delete</span>
                                    </a>
                                </button>


                                <input type="submit" class="btn btn-warning m-1 " value="Save">



                            </div>


                        </div>

                    </div>

                </form>
                {% endfor %}

                <!-- column for journal entries -->



            </div>
            <div class="col  m-2">
                <h4 class="text-center">Journal Entries</h4>
                {% for entry in journal_entries %}
                <form action="/edit_entry/{{entry.id}}/{{user.id}}">
                    <div class="card text-center m-2">

                        <div class="card-body">
                            <p class="card-text">
                                <textarea name="updated_entry" style="width:100%;" rows="5" class="m-2 mx-auto p-1">{{entry.entry}}</textarea>
    
                            </p>
    
                            <button class="btn btn-warning m-3">
                                <a href="/delete-entry/{{entry.id}}/{{.user.id}}">
                                    <span class="material-icons" style="color: black;">delete</span>
                                </a>
                            </button>
                            <input type="submit" class="btn btn-warning m-3" value="Save">
    
                        </div>
                        <div class="card-footer text-muted">
                            {{entry.updated_at}}
                        </div>
                    </div>
                </form>

                {% endfor %}
            </div>


        </div>
    </div>





</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

</html>