<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <title>Register</title>
</head>

<body>
  <header class="card d-flex p-3 mt-2 mx-auto  bg-warning" style="width: 85%">
    <div>
      With such a progressive society, 2021 has become a year that's been
      deemed the year full of self growth & self love, for countless people.
      Bloom realizes social media platforms can also be a place for judgment
      and negativity at times. Have no fear though, there is a community of
      supportive people, who are also on their own personal growth journey
      that want to document and post freely without hateful comments, or a
      judgement free zone. Bloom welcomes Users who are cruising on their self
      growth journey, to document it, while being in and being a part of
      supportive community.
    </div>
  </header>

  <!-- container for user info  -->
  <div class="container-fluid">
    <h4 class="display-6 mt-2 mx-auto">Join the Bloom Team</h4>

    <!-- errors message -->
    {% if messages %}
    <ul>
      {% for message in messages%}
      <li {% if messages.tags %} class="{{messages.tags}}" {% endif %}>
        {{message}}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- registration form -->
    <form action="/create_user" method="post">
      {% csrf_token %}
      {{ regForm }}
      <input type="submit" class="btn btn-secondary active" value="Ready Let's Go" />

    </form>
  </div>
</body>

</html>